$black: #08080D;
$orange: #B82800;
$light-blue: #A0D2DB;
$light-purple: #C490D1;
$dark-pink: #A30062;
$rgba-brown: rgba(61,13, 0, 1);
$rgba-orange: rgba(184, 40, 0, 1);
$rgba-light-blue: rgba(160, 210, 219, 1);
$rgba-light-purple: rgba(196, 144, 209, 1);
$rgba-dark-pink: rgba(184, 51, 106, 1);
$semi-transparent-black: rgba(8,8,13,.45);