@mixin emery-gradient {
    padding-bottom:10px;
    background:
      linear-gradient(
        to right, 
        $rgba-light-blue 0%,
        $rgba-light-purple 50%,
        $rgba-dark-pink 100%
      )
      left 
      bottom
      $black    
      no-repeat; 
    background-size: 200px 7px ;
    background-position: bottom center;
}
@mixin emery-gradient-border {
  background:
    linear-gradient(
      to bottom, 
      $rgba-light-blue 0%,
      $rgba-light-purple 50%,
      $rgba-dark-pink 100%
    )
    left 
    bottom
    $black    
    no-repeat; 
}
@mixin page-header {
    h1 {
      border-bottom: 3px solid $light-blue;
      color: $light-purple;
      margin-bottom: 20px;
      text-transform: lowercase;
      text-align: center;
  }
}
@mixin block-links {
  a:link,
  a:visited {
      border-radius: 5px;
      color: $black;
      display: block;
      margin-bottom: 10px;
      padding: 10px;
      &:nth-of-type(even) {
          background: $light-blue;
          border-bottom: 5px solid $light-blue;
          &:hover {
              background: none;
          }
      }
      &:nth-of-type(odd) {
          background: $light-purple;
          border-bottom: 5px solid $light-purple;
          &:hover {
              background: none;
              border-bottom: 5px solid $light-purple;
          }
      }
      &:hover {
          color: #fff;
          transition: .5s background-color !important;
          transition: .1s color;
      }
  }
}
@mixin hub {
  margin: 0 auto;
  a:link,
  a:visited {
    height: 20px;
    text-align: center;
    width: 140px;
    height: 20px;
  }
  #hub-description {
    font-size: 1rem;
    line-height: 1rem;
    padding-bottom: 15px;
    text-align: center;
    width: 250px;
  }
  .portfolio-link {
    background: none;
    border-bottom: 3px solid $light-purple !important;
    color: #fff;
    display: inline-block;
    width: 50px !important;
    height: auto;
    margin: 0px !important;
    padding: 0px !important;
    &:hover {
      color: $light-blue;
      transition: .3s color !important;
    }
  }
  @media screen and (min-width: 768px) {
    a:link,
    a:visited {
      font-size: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 100px;
      margin-top: 20px;
    }
    #hub-description {
      font-size: 1.5rem;
      line-height: 1.5rem;
      opacity: 0;
      padding: 20px 0px;
      width: 330px;
    }
    &:hover {
      #hub-description {
        font-size: 1.5rem;
        line-height: 1.5rem;
        opacity: 1;
        transition: .3s opacity;
      }
    }
    &:not(:hover) {
      #hub-description {
        transition: .3s opacity;
      }
    }
    .portfolio-link {
      display: inline-block !important;
      font-size: 1.5rem !important;
      line-height: 1.5rem !important;
      width: 100px !important;
      height: 30px !important;
      padding: 0px !important;
    }
  }
}